
#logo {
    margin-top:40px;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#icon{
    width:10px;
    height: 10px;
    size:5px;
}


.sidenav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00b3b3;
    overflow-x: hidden;
    transition: 0.5s;
}

#mySidenav{
    z-index: 1100;
}

.sidenav a {
    padding: 2.5vh 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 50px;
}

.sidenav a:focus {
    background-color:#d6f5f5;
}

#menu {
    text-align: center;
}

.sidenav a:hover {
    color: #2490e3;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

.menu-button {
    position:fixed;
    top:0;
    width:100%;
    z-index:100;

}

@media only screen and (max-width: 700px){
    .sidenav a{
        font-size: 35px;
    }
    #logo{
        width:100px;
        height:100px
    }
}

.phone-menu{
    position:fixed;
    display:none;
    bottom:0;
    height:60px;
    width:100%;
    z-index:0;
    background-color: #021130;
}

@media only screen and (max-width: 350px){

    #main{
        margin-top: -10px !important;
        padding-bottom:50px !important;
    }

    .menu-button{
        display:none;
    }

    .phone-menu{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
    }

    .faphone{
        font-size: 30px !important;
        padding: 5px 5px 5px 10px !important;
        color:white !important;
    }

    #logo{
        margin-left: 0px;
        height:60px;
        width:60px;
        text-align: center;
        top:20px !important;
        padding-top:7px !important;
        padding-bottom:40px !important;
        background-color: #021130;
        border-radius: 30px;
    }
}

    @media only screen and (min-width: 350px) and (max-width: 445px){

        #main{
            margin-top: -10px !important;
            padding-bottom:50px !important;
        }

    .menu-button{
        display:none;
    }

    .phone-menu{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
    }

    .faphone{
        font-size: 35px !important;
        padding-right:8px !important;
        padding-left:8px !important;
        color:white !important;
        opacity:1 !important;
    }

    #logo{
        margin-left: 0px;
        height:60px;
        width:60px;
        text-align: center;
        top:20px !important;
        padding-top:7px !important;
        padding-bottom:40px !important;
        background-color: #021130;
        border-radius: 30px;
    }
}
    @media only screen and (min-width: 401px) and (max-width: 500px){

        #main{
            margin-top: -10px !important;
            padding-bottom:50px !important;

        }

    .menu-button{
        display:none;
    }

    .phone-menu{
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
    }

    .fa{
        font-size: 40px;
        padding-right:10px;
        padding-left:10px;
        color:white;
        opacity:1;
    }

    .faphone{
        font-size: 35px !important;
        padding: 10px 10px 10px 21px !important;
        color: white !important;
    }

    #logo{
        margin-left: 0px;
        height:60px;
        width:60px;
        text-align: center;
        top:20px !important;
        padding-top:7px !important;
        padding-bottom:40px !important;
        background-color: #021130;
        border-radius: 30px;
    }

}
