
html{
    display:none;
}

body {
    background-image:url("../img/blocuri.jpg");
    background-size:cover;
    margin: 0;
    text-align: center;
    background-repeat:no-repeat;
    background-color: #02000A;
    background-attachment: fixed;
}


h1 {
    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif
}

h3 {
    font-size:40px;
}

i{
    color:white;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color:grey;
    flex-wrap: wrap;
    width:80%;
    margin: 0 auto;
    background-color: rgba(0, 23, 49, 0.5);
    padding-bottom: 10px;

}

#liveSearch {
    border: 1px solid rgb(165, 172, 178);
    background-color: white;
    color: black;
    text-align: left;
    z-index: 1;
    position: absolute;
    display:none;
    width:40%;
    font-size:20px;
    margin-left:20%;
    cursor: pointer;
}


#files-wrapper{
    overflow-x:hidden !important;
}

#ul{
    width:inherit;
}

.col {
    flex: 1;
    width:inherit !important;
}

#menu{
    background-color: rgba(0, 23, 49, 1);
}

#modal-content{
    background-color: rgba(0, 23, 49, 0.7);
    color:white;
}


.modal{
    background-color: rgb(0, 23, 49, 1);
}

.content-wrapper{
    width:100%;
    font-size:50px;
    margin: 0 auto;
    max-height:60vh;
    min-height:30px;
    background-color: rgba(0, 23, 49, 0);
    text-align:left;
    overflow-y: scroll;

}

.permissions-wrapper-style{
    width:100%;
    font-size:50px;
    margin: 0 auto;
    max-height:50vh;
    min-height:30px;
    background-color: rgba(0, 23, 49, 0);
    text-align:left;
    overflow-y: scroll;
}

#mySidenav{
    opacity: 20;
    background-color: rgba(0, 23, 49, 1);
}

.side-menu{

    display:block;
    background-color: #001731;
}

.menu-button{
    background-color:#001731;
}

.menu-button span{
    font-size: 30px !important;
}


.content-wrapper i{
    color:white;
    float: right;
    transition: 0.5s ease;
    padding-right:10px;
    margin-right:10px;
}

.content-wrapper i:hover{
    color: #2490e3;
}

.content-wrapper ul{
    list-style-type: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.content-wrapper li{
    margin: 0 0 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-wrapper span{
    padding-left:5px;
    color:white;
    transition: .5s ease;
}

.content-wrapper span:hover{
    color:#2490e3;;
}

.content-wrapper h1{
    text-align:center;
    color:white;
    transition: .5s ease;
}

.content-wrapper h1:hover{
    color:#2490e3;
}

.content-wrapper a{
    color:white;
    margin-left:10px;
}

.controller {
    overflow-y:hidden;
}

.granted {
    overflow:hidden;
}

.controller i{
    margin-top:30px;
    float:left;
    margin-left:40px;
    font-size:40px !important;
}

#files, #settings, #notes, #permissions, #reminders {
    display: none;
    background-color: rgba(0, 23, 49, 0);
    color: white;
}

span{
    font-size:30px;
    cursor:pointer;
    align-content: left; 
    color:white;
    word-wrap:break-word;
}

.li-wrapper{
    overflow:hidden;
    padding-top:10px;
    padding-bottom:10px;
    width:100% !important;
}

.welcome-text h1{
   color:white;
}

#welcome-files, #welcome-notes, #welcome-reminders {
    cursor: pointer;
}

.menu-option {
    cursor:pointer !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2490e3;
    width: 110px !important;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

#files-perm-wrapper{
    max-height:30vh !important;
}

#notes-perm-wrapper{
    max-height:30vh !important;
    margin-bottom:10px !important;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width:700px) and (max-width: 1510px){
    body{
        background-repeat:no-repeat;
        background-color: #02000A;
        background-size:auto;
    }
}

@media only screen and (min-width: 50px) and (max-width: 700px) {

    body{
        background-size:auto;
        min-height:100%;
    }

    .container{
        margin-top:40px;
        width:90%;
        font-size:30px;
    }

    .content-wrapper{
        font-size:30px;
    }

    h1{
        font-size:30px !important;
    }

    .smaller{
        font-size:25px !important;
    }

    i{
        font-size:20px; !important;
    }

    span{
        font-size:15px !important;
    }

    .controller i{
        font-size: 20px !important;
    }

    #modal-content{
        width:80%;
    }

    .menu-button span{
        font-size: 30px !important;
    }

    .input-fls{
        width:70% !important;
        font-size:25px !important;
    }

    #liveSearch {
        border: 1px solid rgb(165, 172, 178);
        background-color: white;
        color: black;
        text-align: left;
        z-index: 1;
        position: absolute;
        display:none;
        width:56%;
        font-size:15px;
        margin-left:12%;
    }

    .modal{
        padding-top: 40px !important; /* Location of the box */
    }

    #input-files{
        display:flex !important;
        flex-direction: column !important;
    }


    .upload{
        align-items: left !important;
    }

    #main{
         margin-top:80px !important;
    }

    .icons{
        font-size:25px !important;
        margin-top: 10px;
    }

    .small-text{
        font-size:15px !important;
    }

    h3{
        font-size:20px;
    }
}


::-webkit-scrollbar {
    display: none;
}