body{
	margin: 0px 0;
	padding: 0px;
  	margin-top: 200px;
	font-family: sans-serif;
	color: white;
	text-align: center;
	align-items: center;
	line-height: 30px;
}

.logo{
	margin-top: 200px;
	margin-bottom: 70px;
}

.title{
	margin-top: -40px;
	animation-delay:0.4s;
	transition: .5s ease;
}


.container-login{
	background-color: rgba(0, 23, 49, 1);
	padding-bottom:25px;
}


.login-button{
	margin-top: -50px;
	animation-delay: 0.7s;
}

.container{
	transition: .5s ease;
	background-color: white;
}

.g-signin2{
	width: 100%;

}

.g-signin2 > div{
	margin: 0 auto;
}

@media only screen and (max-width: 700px){
	.container-wrapper{
		margin-top:-70px;
	}
	img{
		height:150px;
		width:150px;
	}
}